.m-menu {
  z-index: 1;
  background-color: #fff;
  width: 75%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: right .5s ease;
}
.m-menu-overlay {
  z-index: 1;
  background-color: #67676780;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}
